<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
</head>
<body class="container">

    <header>
       
    </header>

    <main>
   
		<div>
			<% list.forEach(function(cont) { %>
				
					<span> <%= cont.contestant %> : </span><span> <%= cont.no_of_votes %> </span><br/>
				
			<% }); %>
		</div>
    </main>

	
	
	
    <footer>
       
    </footer>
    
</body>
</html>